{% extends "_layouts/base" %}

{% set meta = {
	eyebrow: 'Legal',
	title: entry.title,
	text: 'Healthcare International Research is committed to protecting your privacy. Any personal information provided will be used solely in accordance with this policy.'
} %}

{% block content %}

	<div class="mx-auto max-w-7xl px-6 lg:px-8 prose prose-slate dark:prose-invert">

		<div class="max-w-3xl">
			<h2>What we collect:</h2>

			<p>We may collect the following information:</p>

			<ul>
				<li>Name and occupation.</li>
				<li>Contact information including email address.</li>
				<li>Demographic information such as postcode, preferences and interests.</li>
				<li>Other information relevant to customer surveys and/or offers.</li>
			</ul>

			<h2>What we do with the information we gather:</h2>

			<p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>

			<ul>
				<li>We may use the information to improve our services.</li>
				<li>We may periodically send promotional emails about new walks, special offers or other information which we think you may find interesting using the email address which you have provided</li>
				<li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email or mail.</li>
				<li>We may use the information to customise the website according to your interest</li>
			</ul>

			<h2>Security:</h2>

			<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

			<p>Your information may be passed to countries outside the European Economic Area (“EEA”). By way of example, this may happen if any of our servers are from time to time located in a country outside the EEA, or one of the providers is located in a country outside the EEA. These countries may not have similar data protection laws to the EEA. If we transfer your information outside the EEA in this way, we will take steps to ensure that your personal data continues to be protected.</p>

			<h2>How we use cookies:</h2>

			<p>A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. We use traffic log cookies to identify which pages are being used. This helps us analyse data about webpage traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>

			<h2>Links to other websites:</h2>

			<p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

			<h2>Controlling your personal information:</h2>

			<p>We will not sell, distribute or lease your personal information to third parties unless we are required by law to do so. You may choose to restrict the collection or use of your personal information in the following ways:</p>

			<ul>
				<li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by getting in touch.</li>
				<li>Any items of electronic marketing we send you (for example, an email newsletter) will contain a clear “opt-out” link. Clicking on the link will immediately remove you from our mailing list(s).</li>
				<li>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</li>
			</ul>

			<p>Healthcare International Research may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 19th June 2020.</p>
		</div>
	</div>

{% endblock %}