{% extends "_layouts/base" %}

{% set meta = {
	eyebrow: 'Our brands',
	title: entry.title,
	text: entry.overview
} %}

{% block content %}
	
 	<div class="pt-12 mx-auto max-w-7xl px-6 lg:px-8">
    	<div class=" grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      		<div class="lg:pr-4">
        		<div class="relative overflow-hidden rounded-3xl aspect-video w-full lg:aspect-square px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
          			<img class="absolute inset-0 h-full w-full object-cover" src="./dist/img/mothersage/ms.jpg" alt="">
          		</div>
      		</div>
	      	<div>
		    	<div class="text-base leading-7 text-slate-700 dark:text-white/80 lg:max-w-lg">
		    		<p class="text-base font-semibold leading-7 text-[#40B8BA]">mothersage.com</p>
		      		<h2 class="mt-2 text-2xl font-bold tracking-tight text-slate-900 dark:text-white sm:text-3xl">About MotherSage</h2>
		      		<div class="max-w-xl">
		        		<p class="mt-6">MotherSage is a range of high-quality, invigorating and relaxing CBD skincare products formulated with the very best natural ingredients to help alleviate common skin ailments resulting in firmer, healthier skin.</p>
		        		<p class="mt-8">CBD skincare products were to be formulated properly and were to include all of the other fantastic natural oxidants and natural anti-inflammatories that nature has to offer – the resulting SkinCare products could really add something new to the market. MotherSage was born. </p>
		      		</div>
		    	</div>
		    	{# <dl class="mt-10 grid grid-cols-2 gap-8 pt-10 sm:grid-cols-3">
		      		<div>
		        		<dt class="text-sm font-semibold leading-6 text-gray-600">Founded</dt>
		        		<dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">2021</dd>
		      		</div>
		      		<div>
		        		<dt class="text-sm font-semibold leading-6 text-gray-600">Reviews</dt>
		        		<dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">150+</dd>
		      		</div>
		      		<div>
		        		<dt class="text-sm font-semibold leading-6 text-gray-600">Countries available in</dt>
		        		<dd class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900">12</dd>
		      		</div>
		    	</dl> #}
		    	<div class="mt-10 flex">
		      		<a href="https://mothersage.com" class="text-base font-semibold leading-7 text-[#40B8BA]">Visit mothersage.com <span aria-hidden="true">&rarr;</span></a>
		    	</div>
	      	</div>
    	</div>
	</div>
	
{% endblock %}