{% extends "_layouts/base" %}

{% set meta = {
	eyebrow: 'Our company',
	title: entry.title,
	text: entry.overview
} %}

{% block content %}
	
	<div class="mx-auto max-w-7xl px-6 lg:px-8 prose prose-slate dark:prose-invert">
		{% if entry.text ?? false %}
			<div class="max-w-3xl">
				{{ entry.text }}
			</div>
		{% endif %}

		<div class="grid sm:grid-cols-2 gap-0.5 overflow-hidden sm:mx-0 rounded-2xl md:grid-cols-3">
			{% for logo in accreditations %}
				<div class="bg-slate-100 dark:bg-slate-200 sm:p-4">
        			<img class="max-h-32 w-full object-contain" src="{{ logo.href }}" alt="{{ logo.title }}">
      			</div>
			{% endfor %}
    	</div>
	</div>

{% endblock %}