{% extends "_layouts/data" %}
{% block htmlPage %}
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />

        {% hook 'seomateMeta' %}
        
        <style>[x-cloak] { display: none; }</style>
        <link rel="stylesheet" href="./dist/css/app{{ not devMode ? '.min' }}.css">

        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

        <script type="text/javascript">
            // Dark theme switcher
            if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark')
            } else {
                document.documentElement.classList.remove('dark')
            }
            localStorage.theme = 'light'
            localStorage.theme = 'dark'
            localStorage.removeItem('theme')
        </script>
    </head>
    <body>
        <div class="flex flex-col w-full min-h-screen dark:bg-slate-950">
            {% include "_includes/header" %}
            <div class="flex-1 isolate">
                <svg class="absolute inset-x-0 top-0 z-0 h-[64rem] w-full stroke-slate-200 dark:stroke-slate-800 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
                    <defs>
                        <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                            <path d="M.5 200V.5H200" fill="none" />
                        </pattern>
                    </defs>
                    <svg x="50%" y="-1" class="overflow-visible fill-gray-50 dark:fill-slate-950">
                        <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
                    </svg>
                    <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
                </svg>
                
                {% if gradient ?? false %}
                    <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
                    <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#40B8BA] to-[#40B8BA] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
                    </div>
                {% endif %}
                
                <div class="relative isolate z-10">
                    {% if meta ?? false %}
                        {% include "_includes/title" with {
                            title: meta.title ?? false,
                            eyebrow: meta.eyebrow ?? false,
                            text: meta.text ?? false
                        } only %}
                    {% endif %}
                    {% block content %}{% endblock %} 
                </div>
                
            </div>
            {% include "_includes/cta" %}
            {% include "_includes/footer" %}
        </div>
    </body>
</html>
{% endblock %}
